@import "./base";

body{
    width: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #080f28;

    @import "./header";

    main{
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        @import "./search";
        @import "./movies-grid";
    }

    @import "./footer";
}